@import '../styles';

.skew {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    z-index:5;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 1000px 500px;
    border-color: transparent transparent $blue-gradient-start;

    @media screen and (max-width: 1279px) {
      display: none;
    }
  }
  &.right{
    &::before {
      right: auto;
      left: 0;
      border-width: 1000px 0 0 500px;
      border-color: transparent transparent transparent $white-bg;
    }
  }
}

.header {
  padding: calc(5vh + 100px) 5vw 15vh;
  background-color:  $blue-gradient-end;
  background-image: url('/assets/images/banner.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  @media screen and (max-width: 959px) {
    @include background-gradient($blue-gradient-start, $blue-gradient-end, horizontal);
    min-height: 0;
  }

  #godown {
    margin: 30px 0 0 0;
    font-size: 0.8rem;
    text-align: center;
    color:$white-font-color;
    font-weight: $fatty;
    display: inline-block;
    img {
      display: inline-block;
      margin-top: 5px;
      height: 3vh;
    }
  }

  h1 {
    margin: 0;
    text-align: center;
    @media screen and (max-width: 959px) {
      font-size: 2rem;
    }
  }

  ul{
    list-style-type: none;
    li {color:$white-font-color; text-transform: uppercase; font-weight: $bold; font-size: 1.2rem}
  }
}
.navbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: transparent;
  padding: 0 5vw;
  @include transition(background-color .5s cubic-bezier(0.17, 0.67, 0.53, 1), box-shadow .5s cubic-bezier(0.17, 0.67, 0.53, 1), height .5s cubic-bezier(0.17, 0.67, 0.53, 1));
  @media screen and (max-width: 959px) {
    height: 80px;
    background: transparent;
  }
  &.stick {
    @include background-gradient($blue-gradient-start, $blue-gradient-end, horizontal);
    box-shadow: $shadow1, $shadow2, $shadow3;
    height: 80px;
  }
}

.navbar-brand-wrap{
  width: 340px;
  @media screen and (min-width: 960px) and (max-width: 1499px) {
    width: 280px;
  }
}

.navbar-contact {
  width: 340px;
  @media screen and (min-width: 960px) and (max-width: 1499px) {
    width: 280px;
  }
  a {
    color: $white-font-color;
    font: {
      size: 1rem;
      weight: $bold;
      style: normal;
      family: 'Lato', sans-serif;
    }
    text-decoration: none;
    padding: .25rem 0;
    display: inline-block;
    -webkit-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    -moz-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    -ms-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    -o-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    @media screen and (min-width: 960px) and (max-width: 1499px) {
      font-size: 12px;
    }
    &:hover, &:active {
      text-decoration: none;
      span {
        color: $alt-font-color;
      }
    }
    &.last {
      padding: .5rem 0 .5rem 30px;
      img {
        -webkit-transition: transform .1s cubic-bezier(0.17, 0.67, 0.53, 1);
        -moz-transition: transform .1s cubic-bezier(0.17, 0.67, 0.53, 1);
        -ms-transition: transform .1s cubic-bezier(0.17, 0.67, 0.53, 1);
        -o-transition: transform .1s cubic-bezier(0.17, 0.67, 0.53, 1);
        transition: transform .1s cubic-bezier(0.17, 0.67, 0.53, 1);
      }
      @media screen and (max-width: 599px) {
        padding: 0;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
    &.facebook {
      //padding: .5rem 15px .5rem 30px;
    }
    span {
      -webkit-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -moz-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -ms-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -o-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    }
  }
  &.side {
    min-width: 100%;
    a {
      color: $alt-font-color;
      font-size: 1.5rem;
      text-decoration: underline;
      padding: 0;
      &:hover, &:active {
        color: $main-font-color;
        text-decoration: none;
      }
      @media screen and (max-width: 599px) {
        font-size: 1rem;
      }
    }
  }
}
.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &.side {
    padding: 10vh 0 5vh;
    .nav-link {
      color: $main-font-color;
      text-decoration: none;
      display: inline-block;
      font: {
        size: 1.5rem;
        family: 'Lato', sans-serif;
        weight: $bold;
      };
      line-height: 1.5;
      padding: .5rem 0;
      border-bottom: 0;
      -webkit-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -moz-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -ms-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -o-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      &:hover, &:active {
        color: $alt-font-color;
      }
      @media screen and (max-width: 599px) {
        font-size: 1rem;
      }
    }
  }
}

.navbar-brand {

  display: inline-block;
  width: 173px;

  //@media screen and (min-width: 1280px) {
  //  width: 173px;
  //}
  //@media screen and (min-width: 960px) and (max-width: 1279px) {
  //  width: 120px;
  //}
  //@media screen and (min-width: 600px) and (max-width: 959px) {
  //  width: 173px;
  //}
  @media screen and (max-width: 599px) {
    width: 120px;
    max-width: 120px;
    //height: 28px;
    //max-height: 28px;
    //min-height: 28px;
  }
}
.navbar-mobile {
  .lang {
    color: $white-font-color;
    text-decoration: none;
    -webkit-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    -moz-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    -ms-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    -o-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    &:hover, &:active {
      color: $alt-font-color;
    }
  }
}

.nav-item {
  text-align: center;
}
.nav-link {
  color: $white-font-color;
  text-decoration: none;
  font: {
    size: 1rem;
    family: 'Lato', sans-serif;
    weight: $regular;
  };
  line-height: 1.5;
  //padding: 0 0 5px;
  border-bottom: 1px solid transparent;
  -webkit-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1), border-bottom-color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  -moz-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1), border-bottom-color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  -ms-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1), border-bottom-color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  -o-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1), border-bottom-color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1), border-bottom-color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  &:hover, &:active {
    border-bottom-color: $alt-border-color;
    color: $alt-font-color;
  }
  @media screen and (min-width: 960px) and (max-width: 1699px) {
    font-size: 13px;
  }
}

.lower-index {
  position: relative;
  z-index: 3;
}
.higher-index {
  position: relative;
  z-index: 7;
}
.section {
  position: relative;
  height: 71vh;
  overflow: hidden;

  p {margin: 40px 0;}

  @media screen and (min-width: 1367px) {
     height: 78vh;
  }

  @media screen and (min-width: 1439px) {
     height: 75vh;
  }

  @media screen and (min-width: 1679px) {
     height: 78vh;
  }



  @media screen and (max-width: 1279px) {
     height: auto;
  }

  &.stairs-section, &.blind-out-section {
    .content-wrapper {
      @include background-gradient($blue-gradient-start, $blue-gradient-end, horizontal);
    }
    .custom-button{
      /deep/ span {
        background: $white-bg;
      }
    }

  }
  //&.blind-section {
  //  .content-wrapper {
  //    @media screen and (max-width: 1279px) {
  //      //@include background-gradient($blue-gradient-start, $blue-gradient-end, horizontal);
  //      //h2, p {
  //      //  color: $white-font-color;
  //      //}
  //    }
  //  }
  //}
}
.content-wrapper {
  padding: 0;
  @media screen and (max-width: 1279px) {
    padding: 100px 20vw;
  }
  @media screen and (max-width: 959px) {
    padding: 5vh 5vw;
  }
  p {
    max-width: 400px;
    text-align: left;
    @media screen and (max-width: 1279px) {
      max-width: 100%;
    }
  }
  &.white {
    h2, p {
      color: $white-font-color;
      span {
        color:$blue-gradient-end;
        @media screen and (max-width: 1279px) {
          color: $white-font-color;
        }
      }
    }
  }
}
.newsletter-section {
  background-color: $grey-bg;
  padding: 10vh 5vw;
  @media screen and (max-width: 599px) {
    padding: 5vh 5vw;
  }
}
.custom-form {
  width: 750px;
  max-width: 750px;
  @media screen and (max-width: 599px) {
    width: 100%;
    max-width: 100%;
  }
  &.contact {
    width: 100%;
    max-width: 100%;
  }
  .custom-button {margin-top:5vh}
}
.footer {
  padding: 100px 20vw 150px;
  min-height: 100vh;
  @include background-gradient($blue-gradient-start, $blue-gradient-end, horizontal);
  @media screen and (max-width: 1279px) {
    padding: 100px 5vw 150px;
  }
  @media screen and (max-width: 959px) {
    padding: 100px 15vw 150px;
  }
  @media screen and (max-width: 599px) {
    padding: 80px 5vw 150px;
  }
  h3 {
    color: $white-font-color;
    @media screen and (max-width: 1279px) {
      text-align: center;
    }
  }
  .custom-button {
    min-width: 220px;
    margin: 1.5rem auto 1.5rem 0;
    @media screen and (max-width: 959px) {
      margin: 1.5rem auto;
    }
  }
}
.address {
  p {
    color: $white-font-color;
    font: {
      size: .75rem;
      weight: $bold;
      style: normal;
      family: 'Lato', sans-serif;
    };
    @media screen and (max-width: 959px) {
      text-align: center;

    }
    a {
      color: $white-font-color;
      text-decoration: none;
      &:hover, &:active {
        color: $alt-font-color;
      }
    }
  }
  a {
    &.facebook {
      img {
        -webkit-transition: transform .5s cubic-bezier(0.17, 0.67, 0.53, 1);
        -moz-transition: transform .5s cubic-bezier(0.17, 0.67, 0.53, 1);
        -ms-transition: transform .5s cubic-bezier(0.17, 0.67, 0.53, 1);
        -o-transition: transform .5s cubic-bezier(0.17, 0.67, 0.53, 1);
        transition: transform .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      }
      &:hover {
        img {
          transform: scale(1.3);
        }
      }
    }
    &.lang {
      font-style: normal;
      color: $white-font-color;
      text-decoration: none;
      -webkit-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -moz-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -ms-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -o-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      &:hover, &:active {
        color: $alt-font-color;
      }
    }
  }

  .navbar-brand {
    width: 173px;
    max-width: 100%;
    @media screen and (min-width: 960px) {
      position: relative;
      margin-top: -10px;
    }
  }
}
.footer-nav {
  a {
    color: $white-font-color;
    line-height: 1.5;
    padding: 0 0 .25rem;
    font: {
      size: 1rem;
      weight: $bold;
      style: normal;
      family: 'Lato', sans-serif;
    }
    text-decoration: none;
    @media screen and (max-width: 959px) {
      text-align: center;
    }
    &:hover, &:active {
      color: $alt-font-color;
      text-decoration: none;
    }
  }
  h4 {
    color: $white-font-color;
    &.second {
      margin: 1.5rem 0 1.5rem;
    }
    @media screen and (max-width: 959px) {
      text-align: center;
      margin: 1.5rem 0 1.5rem;
    }
  }
}
