<mat-sidenav-container>
  <mat-sidenav #drawer mode="push" opened="false" position="end" disableClose="false" [fixedInViewport]="true" role="navigation">
    <div class="side-nav-wrapper" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5vw">
      <a class="navbar-brand" (click)="scroll(header)">
        <img src="/assets/images/verticalux-logo-dark.svg" alt="Verticalux logo" class="responsive-img">
      </a>
      <div class="button-wrapper" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2vw">
        <!--<a href="http://verticalux.pl/" class="lang text-uppercase">-->
          <!--pl-->
        <!--</a>-->
        <!--<a href="http://verticalux.de/" class="lang text-uppercase">-->
          <!--de-->
        <!--</a>-->
        <a href="https://www.facebook.com/VerticaluxPolska-2119590948261951/" target="_blank" fxLayout="column" fxLayoutAlign="center center">
          <img src="/assets/images/fb-icon-dark.svg" alt="Facebook page" width="20" height="20">
        </a>
        <button (click)="drawer.close()" class="burger open">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
    <ul class="navbar-nav side" fxLayout="column">
      <li class="nav-item">
        <a class="nav-link text-uppercase" (click)="scroll(window); drawer.close()">Okna dachowe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" (click)="scroll(stairs); drawer.close()">Schody strychowe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" (click)="scroll(blind_in); drawer.close()">Rolety wewnętrzne</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" (click)="scroll(blind_out); drawer.close()">Rolety zewnętrzne</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" (click)="scroll(contact); drawer.close()">Kontakt</a>
      </li>
    </ul>
    <div class="navbar-contact side" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2vh">
      <a href="tel:+48884310955" class="last">+48 884 310 955</a>
      <a href="mailto:info@verticalux.pl">info@verticalux.pl</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <nav class="navbar" fxLayout="row" fxLayoutAlign="space-between center" [class.stick]="fixedMenu">
      <div class="navbar-brand-wrap">
        <a class="navbar-brand" (click)="scroll(header)">
          <img src="/assets/images/verticalux-logo.svg" alt="Verticalux logo" class="responsive-img">
        </a>
      </div>
      <ul class="navbar-nav" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1vw" fxHide.lt-lg>
        <li class="nav-item">
          <a class="nav-link text-uppercase" (click)="scroll(window); drawer.close()">Okna dachowe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" (click)="scroll(stairs); drawer.close()">Schody strychowe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" (click)="scroll(blind_in); drawer.close()">Rolety wewnętrzne</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" (click)="scroll(blind_out); drawer.close()">Rolety zewnętrzne</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" (click)="scroll(contact); drawer.close()">Kontakt</a>
        </li>
      </ul>
      <div class="navbar-contact" fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center center" fxLayoutGap.lt-sm="5vw" fxHide.lt-lg fxHide.lt-sm>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center center" fxLayoutGap.lt-sm="5vw">
          <div class="text-right">
            <a href="mailto:info@verticalux.pl"><span>napisz</span> info@verticalux.pl</a><br>
            <a href="tel:+48884310955"><span>zadzwoń</span> +48 884 310 955</a>
          </div>
          <a href="https://www.facebook.com/VerticaluxPolska-2119590948261951/" target="_blank" class="last facebook" fxLayout="column" fxLayoutAlign="center center">
            <img src="/assets/images/fb-icon.svg" alt="Facebook page" width="20" height="20">
          </a>
          <!--<a href="http://verticalux.pl/" class="last text-uppercase">-->
            <!--pl-->
          <!--</a>-->
          <!--<a href="http://verticalux.de/" class="last text-uppercase">-->
            <!--de-->
          <!--</a>-->
        </div>
      </div>
      <div class="navbar-mobile" fxHide.gt-md fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2vw">
        <!--<a href="http://verticalux.pl/" class="lang text-uppercase">-->
          <!--pl-->
        <!--</a>-->
        <!--<a href="http://verticalux.de/" class="lang text-uppercase">-->
          <!--de-->
        <!--</a>-->
        <a href="https://www.facebook.com/VerticaluxPolska-2119590948261951/" target="_blank" fxLayout="column" fxLayoutAlign="center center">
          <img src="/assets/images/fb-icon.svg" alt="Facebook page" width="20" height="20">
        </a>
        <button (click)="drawer.open()" class="burger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>
    <header class="header" #header fxLayout="row" fxLayoutAlign="center end" fxLayoutAlign.lt-md="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <h1>Otwórz okno i posłuchaj jak gra świat</h1>
          <ul fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1vw" fxHide.lt-md>
            <li>
              <a (click)="scroll(window); drawer.close()">Okna dachowe</a>
            </li>
            <li>
              <a (click)="scroll(stairs); drawer.close()">Schody strychowe</a>
            </li>
            <li>
              <a (click)="scroll(blind_in); drawer.close()">Rolety wewnętrzne</a>
            </li>
            <li>
              <a (click)="scroll(blind_out); drawer.close()">Rolety zewnętrzne</a>
            </li>
          </ul>

          <a id="godown" class="text-uppercase" (click)="scroll(window)" fxHide.lt-md>PRZEWIŃ W DÓŁ <br> <img src="/assets/images/scrolldown.svg"></a>
      </div>
    </header>
    <section id="okna-dachowe" class="section window-section" #window fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="start stretch">
      <div class="higher-index content-wrapper" fxFlex="40" fxLayout="row" fxLayoutAlign="end center" fxFlexOrder.lt-lg="2">
        <div class="content">
          <h2 class="text-uppercase">okna<br><span>dachowe</span></h2>
          <p>Okna dachowe to specjalizacja naszej firmy. Doskonale izolują, a przy tym doświetlają poddasze. Ich nowoczesny design dopełni estetykę Twojego wnętrza.</p>
          <a mat-raised-button class="custom-button" href="https://www.ebay.de/str/verticalux/Dachfenster/_i.html?_storecat=24464575017" target="_blank">przejdź do sklepu</a>
        </div>
      </div>
      <div class="image-wrapper skew right lower-index" fxFlex="60" fxLayout.lt-lg="row" fxLayoutAlign.lt-lg="center start" fxFlexOrder.lt-lg="1">
        <img src="/assets/images/window-section-img.jpg" alt="Window image" class="responsive-img">
      </div>
    </section>
    <section id="schody-strychowe" class="section stairs-section" #stairs fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="start stretch">
      <div class="image-wrapper higher-index skew" fxFlex="60" fxLayout.lt-lg="row" fxLayoutAlign.lt-lg="center start">
        <img src="/assets/images/stairs-section-img.jpg" alt="Stairs image" class="responsive-img">
      </div>
      <div class="lower-index content-wrapper white" fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
        <div class="content">
          <h2 class="text-uppercase">schody<br>strychowe</h2>
          <p>Nasze schody strychowe cechują się szczególną rewolucyjnością. Dopasowane do długości ludzkiego kroku sprawiają, że użytkowanie ich jest wyjątkowo komfortowe. Materiały, z których zostały wykonane są najwyższej jakości.</p>
          <a href="https://www.ebay.de/str/verticalux/BODENTREPPEN/_i.html?_storecat=24464579017" target="_blank" mat-raised-button class="custom-button">przejdź do sklepu</a>
        </div>
      </div>
    </section>
    <section id="rolety-wewnetrzne" class="section blind-section" #blind_in fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="start stretch">
      <div class="higher-index content-wrapper" fxFlex="40" fxLayout="row" fxLayoutAlign="end center" fxFlexOrder.lt-lg="2">
        <div class="content">
          <h2 class="text-uppercase">rolety<br><span>wewnętrzne</span></h2>
          <p>Rolety wewnętrzne zapewnią doskonałą izolację świetlną kiedy tylko będziesz jej potrzebować. Szeroki wybór kolorów oraz estetyka wykonania sprawiają, że będziesz mieć wyłącznie pozytywne doświadczenia.</p>
          <a href="https://www.ebay.de/str/verticalux/Verdunkelungsrollo/_i.html?_storecat=24464577017" target="_blank" mat-raised-button class="custom-button">przejdź do sklepu</a>
        </div>
      </div>
      <div class="image-wrapper lower-index skew right" fxFlex="60" fxLayout.lt-lg="row" fxLayoutAlign.lt-lg="center start" fxFlexOrder.lt-lg="1">
        <img src="/assets/images/blind-section-img.jpg" alt="Blind image" class="responsive-img">
      </div>
    </section>
    <section id="rolety-zewnetrzne" class="section blind-out-section" #blind_out fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="start stretch">
      <div class="image-wrapper higher-index skew" fxFlex="60" fxLayout.lt-lg="row" fxLayoutAlign.lt-lg="center start">
        <img src="/assets/images/blind-out-section-img.jpg" alt="Stairs image" class="responsive-img">
      </div>
      <div class="lower-index content-wrapper white" fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
        <div class="content">
          <h2 class="text-uppercase">rolety<br>zewnętrzne</h2>
          <p>Rolety zewnętrzne znacząco poprawiają komfort życia w domu. Dzięki doskonałej ochronie przed warunkami atmosferycznymi zyskujesz lepsze środowisko do pracy i życia codziennego.</p>
          <a href="https://www.ebay.de/str/verticalux/Rollladen/_i.html?_storecat=24464578017" target="_blank" mat-raised-button class="custom-button">przejdź do sklepu</a>
        </div>
      </div>
    </section>
    <section class="newsletter-section text-center" fxLayout="column" fxLayoutAlign="start center">
      <h4 class="text-uppercase">zapisz się do newslettera</h4>
      <form action="" method="" class="custom-form" fxLayout="column" fxLayoutAlign="start center">
        <mat-form-field appearance="outline" class="custom-input">
          <mat-label>Email</mat-label>
          <input matInput>
          <mat-error>To pole jest wymagane</mat-error>
        </mat-form-field>
        <mat-checkbox class="" fxFlexAlign="start">Wyrażam zgodę na przetwarzanie moich danych osobowych przez Verticalux, przy ul. św. Jadwigi Królowej 14/15, 97-500 Radomsko z siedzibą w Radomsku, NIP 7722416274, w celu otrzymywania informacji handlowych, za pomocą środków komunikacji elektronicznej w rozumieniu ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz. U. z 2017, poz. 1219 ze zm.) na podany adres e-mail na temat produktów i usług oferowanych przez Verticalux</mat-checkbox>
        <button routerLink="submit" mat-raised-button class="custom-button">wyślij</button>
      </form>
    </section>
    <footer class="footer" #contact fxLayout="row" fxLayoutGap="3vw" fxLayout.lt-md="column" fxLayoutGap.lt-md="5vh">
      <nav class="footer-nav" fxFlex="30%" fxFlex.lt-lg="20%" fxFlex.lt-md="auto" fxLayout="column" fxFlexOrder="1" fxFlexOrder.lt-md="3">
        <h4 class="text-uppercase">Linki:</h4>
        <a href="https://www.amazon.de/s?marketplaceID=A1PA6795UKMFR9&me=ATXUJ13QBDSKI&merchant=ATXUJ13QBDSKI" target="_blank" class="text-uppercase">Sklep Amazon</a>
        <a href="https://www.ebay.de/str/verticalux" target="_blank" class="text-uppercase">Sklep eBay</a>
        <a href="/polityka_prywatnosci.html" class="text-uppercase">Polityka prywatności</a>
        <a href="/regulamin.html" class="text-uppercase">Regulamin</a>
        <a href="/rodo.html" class="text-uppercase">RODO</a>
        <h4 class="second text-uppercase">Mapa strony:</h4>
        <a class="text-uppercase" (click)="scroll(window)">Okna dachowe</a>
        <a class="text-uppercase" (click)="scroll(stairs)">Schody strychowe</a>
        <a class="text-uppercase" (click)="scroll(blind_in)">Rolety wewnętrzne</a>
        <a class="text-uppercase" (click)="scroll(blind_out)">Rolety zewnętrzne</a>
      </nav>
      <div class="form-wrapper" fxFlex="50" fxFlex.lt-lg="60%" fxFlex.lt-md="auto" fxFlexOrder="3" fxFlexOrder.lt-md="1">
        <h3 class="text-uppercase">Napisz do nas:</h3>
        <form action="" method="" class="custom-form contact" fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-md="start center">
          <div class="form-group">
            <mat-form-field appearance="outline" class="custom-input white">
              <mat-label>Email</mat-label>
              <input matInput>
              <mat-error>To pole jest wymagane</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline" class="custom-input white">
              <mat-label>Wiadomość</mat-label>
              <textarea matInput rows="6"></textarea>
              <mat-error>To pole jest wymagane</mat-error>
            </mat-form-field>
          </div>
          <button routerLink="submit" mat-raised-button class="custom-button">wyślij</button>
        </form>
      </div>
      <address class="address" fxFlex="20%" fxFlex.lt-md="auto" fxLayout="column" fxLayoutAlign.lt-md="start center" fxLayoutGap="3vh" fxFlexOrder="5" fxFlexOrder.lt-md="5">
        <a class="navbar-brand" (click)="scroll(header)">
          <img src="/assets/images/verticalux-logo.svg" alt="Verticalux logo" width="200" class="responsive-img">
        </a>
        <p class="text-left">
          Verticalux Polska Sp. z o.o.<br>
          św. Jadwigi Królowej 14/15<br>
          97-500 Radomsko<br>
          NIP 7722416274</p>
        <p class="text-left">
          <a href="mailto:info@verticalux.pl">info@verticalux.pl</a><br>
          <a href="tel:+48884310955">+48 884 310 955</a>
        </p>
        <div fxLayout="row" fxLayoutGap="30px">
          <a class="facebook" href="https://www.facebook.com/VerticaluxPolska-2119590948261951/" target="_blank">
            <img src="/assets/images/fb-icon.svg" alt="Facebook page" width="20" height="20">
          </a>
          <a href="http://verticalux.pl/" class="lang text-uppercase">
            pl
          </a>
          <a href="http://verticalux.de/" class="lang text-uppercase">
            de
          </a>
        </div>
      </address>
    </footer>

    <div class="cookies" id="cookies" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="3vh" *ngIf="cookies" [@fadeInAnimation]>
      <p>Na tej stronie wykorzystujemy pliki cookies. Jeśli chcesz uzyskać więcej informacji na ten temat zapraszamy do zapoznania się z <a href="/polityka_prywatnosci.html">Polityką Prywatności</a>. Kontynuując korzystanie z naszego serwisu wyrażasz zgodę na naszą politykę cookies.</p>
      <button class="cookies-button" (click)="close_cookies()">Rozumiem</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
