/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,900&subset=latin-ext');

//FONT WEIGHT
$regular: 400;
$bold: 300;
$fatty: 900;

//FONT COLORS
$black: #000;
$white-font-color: rgb(255, 255, 255);
$main-font-color: rgb(0, 53, 96);
$link-font-color: rgb(114, 168, 191);
$alt-font-color: rgb(213, 7, 116);

//BACKGROUND COLORS
$white-bg: rgb(255, 255, 255);
$main-bg: rgb(0, 53, 96);
$blue-gradient-start: rgb(22, 37, 91);
$blue-gradient-end: rgb(0, 103, 164);
$purple-gradient-start: rgb(117, 43, 108);
$purple-gradient-end: rgb(213, 7, 116);
$grey-bg: rgb(243, 243, 243);
$popup-bg: rgb(180, 145, 8);
$overlay-bg: rgba(0, 103, 164, 0.9);

//BORDER COLORS
$white-border-color: rgb(255, 255, 255);
$main-border-color: rgb(0, 53, 96);
$alt-border-color: rgb(213, 7, 116);

$button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
$cookies-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);

$shadow1: 0 3px 5px -1px rgba(0,0,0,.2);
$shadow2: 0 6px 10px 0 rgba(0,0,0,.14);
$shadow3: 0 1px 18px 0 rgba(0,0,0,.12);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
/*
border radius z vendorami
.box { @include border-radius(10px); }
*/

/*transition*/
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
/*
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}*/

/*gradient*/
@mixin background-gradient($start-color, $end-color, $orientation) {
  background: $start-color;

  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top, $start-color, $end-color);
    background: linear-gradient(to bottom, $start-color, $end-color);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left, $start-color, $end-color);
    background: linear-gradient(to right, $start-color, $end-color);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
    background: radial-gradient(ellipse at center, $start-color, $end-color);
  }
}
/*
.gradient {
  @include background-gradient(#3498db, #2c3e50, horizontal);
}
*/

/*triangle*/
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
  width: 0;
  height: 0;
  @if $round {
    border-radius: 3px;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if  $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}
/*
.triangle {
  @include css-triangle(red, up, 100px);
}*/

/*shadow*/
@mixin shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}
/*
.shadow {
  @include shadow(1px 2px red);
}*/

/*placeholder*/
@mixin placeholder($placeholder-color) {
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }
  &:-moz-placeholder {
    color: $placeholder-color;
  }
  &::-moz-placeholder {
    color: $placeholder-color;
  }
  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
  &::placeholder {
    color: $placeholder-color;
  }
}
/*
@include placeholder($color);
*/


/* Reset */
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
html, body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: $regular;
  font-size: 1rem;
  background: $white-bg;
  color: $main-font-color;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  cursor: pointer;
  img {
    border: 0;
  }
  -webkit-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  -moz-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  -ms-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  -o-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
  &:hover, &:active {
    text-decoration: none;
    color: $alt-font-color;
    cursor: pointer;
  }
  &:focus {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
  }
}
button {
  -webkit-appearance: none;
  &:focus {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
  }
}
textarea {
  &.mat-input-element {
    resize: none;
  }
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-justify{
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.image-wrapper {
  img {
    @media screen and (min-width: 1280px) {
      min-height: 100%;
    }
  }
}
.custom-button {
  display: inline-block;
  width: auto;
  min-width: 260px;
  text-align: center;
  color: $main-font-color;
  font-size: 1.2rem;
  font-weight: $fatty;
  color:$purple-gradient-end;
  padding: 3px;
  border: 0;
  border-radius: 0;
  text-decoration: none;
  box-shadow: none;
  background-image: linear-gradient(to bottom, $purple-gradient-end 0%, $purple-gradient-start 51%, $purple-gradient-end 100%);
  background-size: auto 200%;
  @include shadow(none);
  @include transition(background .5s cubic-bezier(.17,.67,.53,1));
  &:hover, &:active {
    background-position: center bottom;
    cursor: pointer;
    color: $purple-gradient-end;
  }
  @media screen and (max-width: 1279px) {
    display: block;
    width: 260px;
    margin: 1.5rem auto;
  }
  span{
    background:$white-bg;
    width:100%;
    height: 100%;
    padding: 10px;
    display: inline-block;
  }
}
h1 {
  color: $white-font-color;
  font: {
    size: 3rem;
    family: 'Lato', sans-serif;
    weight: $fatty;
  }
  text-transform: uppercase;
  line-height: 2.8rem;
}

h2 {
  color: $main-font-color;
  font: {
    size: 3rem;
    family: 'Lato', sans-serif;
    weight: $bold;
  }
  line-height: 2.8rem;
  margin: 0 0 1.5rem;
  @media screen and (max-width: 1279px) {
    text-align: center;
  }
  @media screen and (max-width: 959px) {
    font-size: 2rem;
    line-height: 1.8rem;
  }
  span {
    color:$blue-gradient-end;
    //@media screen and (max-width: 1279px) {
    //  color: $white-font-color;
    //}
  }
}
h3 {
  color: $main-font-color;
  font: {
    size: 1.5rem;
    family: 'Lato', sans-serif;
    weight: $bold;
  }
  margin: 0 0 1.5rem;
}
h4 {
  color: $main-font-color;
  font: {
    size: 1.5rem;
    family: 'Lato', sans-serif;
    weight: $bold;
  }
  margin: 0 0 1.5rem;
}
p {
  color: $black;
  font: {
    size: 1rem;
    weight: $regular;
    family: 'Lato', sans-serif;
  };
  @media screen and (max-width: 959px) {
    font-size: .875rem;
  }
}
.mat-raised-button {
  @include border-radius(0);
  &:not([class*="mat-elevation-z"]) {
    @include shadow(none);
    line-height: 1.3;
  }
}
.mat-form-field {
  width: 100%;
  &.mat-focused {
    /deep/ .mat-form-field-label {
      color: $main-font-color;
    }
  }
  .mat-form-field-flex {
    color: $main-font-color;
  }
}

.mat-form-field-appearance-outline {
  /deep/ .mat-form-field-outline {
    color: $main-font-color;
  }
  /deep/ .mat-form-field-outline-start {
    border-radius: 3px 0 0 3px;
  }
  /deep/ .mat-form-field-outline-end {
    border-radius: 0 3px 3px 0;
  }
}
/deep/ .mat-form-field-label {
  color: $main-font-color;
}
/deep/ .mat-input-element {
  caret-color: $main-font-color;
}
.footer, .popup-wrapper {
  /deep/ .mat-form-field-label {
    //color: $main-font-color;
    color: $white-font-color;
  }
  .mat-form-field {
    &.mat-focused {
      /deep/ .mat-form-field-label {
        //color: $main-font-color;
        color: $white-font-color;
      }
    }
    .mat-form-field-flex {
      color: $white-font-color;
    }
  }
  .mat-form-field-appearance-outline {
    /deep/ .mat-form-field-outline {
      color: $white-font-color;
    }
  }
  /deep/ .mat-input-element {
    caret-color: $white-font-color;
  }
  //.mat-form-field-appearance-outline {
  //  /deep/ .mat-form-field-outline-start, /deep/ .mat-form-field-outline-gap, /deep/ .mat-form-field-outline-end {
  //    background: $white-bg;
  //  }
  //}
}
.form-group {
  width: 100%;
  margin: 0 0 .5rem;
}
.popup-wrapper {
  width: 650px;
  max-width: 650px;
  height: 480px;
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $popup-bg url('/assets/images/popup-bg.jpg') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 50px 120px 15px;
  border-top-right-radius: 90px;
  overflow: hidden;
  @media screen and (max-width: 959px) {
    width: calc(100% - 10vw);
    max-width: 100%;
    height: calc(100% - 10vh);
    max-height: 480px;
    top: 5vh;
    left: 5vw;
    transform: translate(0, 0);
    padding: 15px;
    border-top-right-radius: 50px;
  }
  h3, p {
    color: $white-font-color;
    font-weight: $regular;
  }
  h3 {
    @media screen and (max-width: 959px) {
      font-size: 1.5rem;
      margin: 0;
    }
  }
  .custom-button {
    @media screen and (max-width: 959px) {
      width: 200px;
      min-width: 200px;
      margin: 1.5rem auto .75rem;
    }
  }
  .close-btn {
    display: block;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $popup-bg;
    border: 0;
    margin-bottom: 0;
    padding: 40px 0 0;
    @include border-radius(0);
    color: $white-font-color;
    transition: transform 5s linear;
    @media screen and (max-width: 959px) {
      width: 50px;
      height: 50px;
      padding: 10px;
    }
    &:hover, &:active {
      cursor: pointer;
      span {
        &.left {
          transform: rotate(45deg);
        }
        &.right {
          transform: rotate(135deg);
        }
      }
    }
    span {
      display: block;
      height: 4px;
      width: 30px;
      position: absolute;
      top: 60px;
      left: 20px;
      background-color: $white-bg;
      -webkit-transition: transform .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -moz-transition: transform .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -ms-transition: transform .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      -o-transition: transform .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      transition: transform .5s cubic-bezier(0.17, 0.67, 0.53, 1);
      @media screen and (max-width: 959px) {
        top: 30px;
        left: 10px;
        width: 20px;
      }
      &.left {
        transform: rotate(-45deg);
      }
      &.right {
        transform: rotate(45deg);
      }
    }
  }
}
.overlay {
  position: fixed;
  z-index: 99997;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $overlay-bg;
  @media screen and (max-width: 959px) {
    padding: 5vh 5vw;
  }
  &.policy, &.terms {
    .popup-wrapper {
      width: 1200px;
      max-width: 1200px;
      height: 650px;
      max-height: 100%;
      position: fixed;
      z-index: 99999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $white-bg;
      padding: 120px;
      @media screen and (max-width: 1276px) {
        width: 900px;
        max-width: 900px;
      }
      @media screen and (max-width: 959px) {
        width: calc(100% - 10vw);
        max-width: 100%;
        height: calc(100% - 10vh);
        max-height: 480px;
        top: 5vh;
        left: 5vw;
        transform: translate(0, 0);
        padding: 70px 50px 50px;
        border-top-right-radius: 50px;
      }
      @media screen and (max-width: 599px) {
        padding: 70px 15px 50px;
      }
      .close-btn {
        background-color: $grey-bg;
      }
      .group {
        overflow: hidden auto;
        height: 100%;
        padding: 0 10px 0 0;
      }
      h3, p, ol, ul {
        color: $main-font-color;
      }
      h3 {
        font-weight: $bold;
        @media screen and (max-width: 599px) {
          font-size: 1rem;
        }
      }
      p, li {
        @media screen and (max-width: 599px) {
          font-size: .75rem;
        }
      }
    }
  }
  &.policy {
    .popup-wrapper {
      ol {
        & > li {
          text-transform: uppercase;
        }
        @media screen and (max-width: 1279px) {
          list-style-position: inside;
          padding: 0;
        }
      }
      ul {
        & > li {
          text-transform: initial;
        }
      }
    }
  }
  &.terms {
    .popup-wrapper {
      ol {
        list-style-type: none;
        padding: 0;
      }
    }
  }
}
.cookies {
  position: fixed;
  z-index: 99995;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white-bg;
  color: $main-font-color;
  padding: 3vh 5vw;
  box-shadow: $shadow1, $shadow2, $shadow3;
  p {
    color: $main-font-color;
    margin: 0;
    font-size: 12px;
    @media screen and (max-width: 959px) {
      font-size: 10px;
    }
    a {
      color: $main-font-color;
      text-decoration: underline;
      font-weight: $bold;
      &:hover, &:active {
        text-decoration: none;
      }
    }
  }
  .cookies-button {
    display: inline-block;
    width: auto;
    text-align: center;
    color: $white-font-color;
    font-size: .75rem;
    font-weight: $bold;
    @extend .text-uppercase;
    padding: .5rem 2rem .5rem;
    border: 0;
    text-decoration: none;
    margin: 0;
    background-image: linear-gradient(to right, $purple-gradient-start 0%, $purple-gradient-end 51%, $purple-gradient-start 100%);
    background-size: 200% auto;
    @include shadow($button-shadow);
    @include transition(background-position .5s cubic-bezier(.17,.67,.53,1));
    &:hover, &:active {
      cursor: pointer;
      color: $white-font-color;
      background-position: right center;
    }
  }
}
.custom-form {
  .mat-checkbox-layout {
    white-space: normal;
  }
  .mat-checkbox-layout {
    .mat-checkbox-label {
      line-height: .75rem;
      font-size: .65rem;
      color: $main-font-color;
      text-align: left;
      font-family: 'Lato', sans-serif;
    }
  }
  .mat-checkbox-frame {
    border-color: $main-border-color;
  }
  .mat-checkbox-inner-container {
    margin-top: 0;
  }
  .mat-checkbox-checked.mat-accent, .mat-checkbox-indeterminate.mat-accent {
    /deep/ .mat-checkbox-background {
      background-color: $main-bg;
    }
  }
  &.popup {
    .mat-checkbox-layout {
      .mat-checkbox-label {
        color: $white-font-color;
      }
    }
    .mat-checkbox-frame {
      border-color: $white-border-color;
    }
    .mat-checkbox-checked.mat-accent, .mat-checkbox-indeterminate.mat-accent {
      /deep/ .mat-checkbox-background {
        background-color: $white-bg;
      }
    }
    .mat-checkbox-checkmark-path {
      stroke: $main-border-color !important;
    }
  }
}
.burger {
  width:30px;
  height:50px;
  position: relative;
  padding: 0;
  background: transparent;
  transition: opacity .5s cubic-bezier(.17,.67,.53,1);
  cursor: pointer;
  z-index: 1035;
  display: block;
  -webkit-appearance: none;
  border: 0;
  span {
    display: block;
    background-color: $white-bg;
    position: absolute;
    height: 3px;
    width: 20px;
    left: 7px;
    &:first-child {
      top: 15px;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 23px;
    }
    &:last-child {
      top: 31px;
    }
  }
  &.open {
    span {
      background-color: $main-bg;
      &:first-child {
        top: 15px;
        width: 0;
        left: 7px;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:last-child {
        top:31px;
        width: 0;
        left: 7px;
      }
    }
  }
}
.side-nav-wrapper {
  .lang {
    color: $main-font-color;
    text-decoration: none;
    -webkit-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    -moz-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    -ms-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    -o-transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    transition: color .5s cubic-bezier(0.17, 0.67, 0.53, 1);
    &:hover, &:active {
      color: $alt-font-color;
    }
  }
}
.mat-drawer-container{background: $white-bg}
.mat-drawer {
  width: 65vw;
  padding: 15px 5vw 50px;
  @media screen and (max-width: 599px) {
    width: 90vw;
  }
}
